<div class="container-fluid">
    <form id="templateForm" method="POST" action="rend">

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="textData">Data <small>{{config.data_textarea}}</small></label>
                    <textarea class="form-control show-spaces" id="textData" name="data" rows="20"></textarea>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="textTemplate">Template <small>{{config.template_textarea}}</small></label>
                    <textarea class="form-control show-spaces" id="textTemplate" name="template"
                        rows="20"></textarea>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="textRendered" disabled>Rendered <small>{{config.rendered_textarea}}</small></label>
                    <textarea class="form-control show-spaces" id="textRendered" rows="20" disabled></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <div>
                    <button class="btn btn-primary" type="submit">
                        Render Template
                    </button>
                </div>
            </div>
            <div class="col-auto mr-auto ">
                <div class="dropdown">
                    <button id="examples" class="btn btn-primary dropdown-toggle" type="button"
                        data-toggle="dropdown">Examples
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    </ul>
                </div>
            </div>
        </div>
</div>
</form>
</div>